/* Navbar */
.navbar{
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: black;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    height: 100rem;  
    opacity: 90%;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.img-logo{
    position:initial;
    height: 100rem;
    width: 300rem;
}

.btn-container a {
    text-decoration: none;
    color: white;
    justify-content: center;
    display: inline-block;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    overflow: hidden;
    font-weight: 900;
    font-size: 30rem;
    -webkit-text-stroke: 1.4px #ad0403;
    padding-left: 30rem;
    padding-right: 30rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.btn-container .active{
    color:#ffd690;
    transform: scale(1.1);
    
}

.btn-register a {
    text-decoration: none;
    -webkit-text-stroke: 1.4px #ad0403;
    color: white;
    display: inline-block;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    overflow: hidden;
    font-weight: bold;
    font-size: 30rem;
    justify-content: right;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 100rem;
    margin-left: 30rem;
    padding: 10px 20px;
    transition: color 0.3s transform 0.3s;
}

.btn-register a:hover{
    border: 2px solid #78b9ff;
    color : #ffd690;
    transform: scale(1.1);
}

.btn-container a::before,
.btn-container a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: #78b9ff;
    transition: transform 0.3s;
    transform-origin: center;
}

.btn-container a::before {
    left: 25%;
    transform: scaleX(0);
}

.btn-container a::after {
    right: 25%;
    transform: scaleX(0);
}

.btn-container a:hover {
    color:#ffd690;
    transform: scale(1.1);
}



.btn-container a:hover::before,
.btn-container a:hover::after {
    transform: scaleX(1);
}

.btn-container a:after {
    content: "";
    position: absolute;
    background-color: #78b9ff;
    height: 3px;
    width: 0;
    bottom: -3px;
    left: 0;
    transition: width 0.3s;
}

.btn-container a:hover:after {
    width: 100%;
}

.btn-container .active::before,
.btn-container .active::after{
    width: 50% ;
    transform: scaleX(1);
}

.navbar .toggle-button{
    padding-right: 30rem;
    color: #fff;
    width: 50rem;
    font-size: 50rem;
    display: none;
    z-index: 99;
}

.dropdown-menu{
    position: absolute;
    display:none;
    top: 80rem;
    width: 100%;
    height: 0;
    background: black;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 400rem;
}

.dropdown-menu a{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .btn-register{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
}

/* End of Navbar Style */
@media (max-width: 1322px){
    .navbar{
        font-family: "M PLUS 1 Code", monospace;
        font-optical-sizing: auto;
        font-weight: 500;
        background-color: black;
        display: flex;
        justify-content: space-between;   
        align-items: center;
        height: 80rem;  
        opacity: 90%;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 100;
        font-family: "M PLUS 1 Code", monospace;
        font-style: normal;
    }
    
    .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px; 
    }
    
    .img-logo{
        margin: 20rem;
        position:initial;
        height: 60rem;
        width: 180rem;
    }
    
    .btn-container a {
        text-decoration: none;
        color: white;
        justify-content: center;
        display: inline-block;
        position: relative;
        transition: color 0.3s, transform 0.3s;
        overflow: hidden;
        font-weight: 900;
        font-size: 20rem;
        -webkit-text-stroke: 1.4px #ad0403;
        padding-left: 20rem;
        padding-right: 20rem;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
    }
    
    .btn-container .active{
        color:#ffd690;
        transform: scale(1.1);
        
    }
    
    .btn-register a {
        text-decoration: none;
        color: white;
        display: inline-block;
        position: relative;
        transition: color 0.3s, transform 0.3s;
        overflow: hidden;
        font-weight: bold;
        font-size: 20rem;
        justify-content: right;
        border: 2px solid white;
        border-radius: 5px;
        margin-right: 50rem;
        margin-left: 20rem;
        padding: 10px 20px;
    }
    
    .btn-container a::before,
    .btn-container a::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 3px;
        background-color: #78b9ff;
        transition: transform 0.3s;
        transform-origin: center;
    }
    
    .btn-container a::before {
        left: 25%;
        transform: scaleX(0);
    }
    
    .btn-container a::after {
        right: 25%;
        transform: scaleX(0);
    }
    
    .btn-container a:hover {
        color:#ffd690;
        transform: scale(1.1);
    }
    
    .btn-container a:hover::before,
    .btn-container a:hover::after {
        transform: scaleX(1);
    }
    
    .btn-container a:after {
        content: "";
        position: absolute;
        background-color: #78b9ff;
        height: 3px;
        width: 0;
        bottom: -3px;
        left: 0;
        transition: width 0.3s;
    }
    
    .btn-container a:hover:after {
        width: 100%;
    }
    
    .btn-container .active::before,
    .btn-container .active::after{
        width: 50% ;
        transform: scaleX(1);
    }
    
    .navbar .toggle-button{
        padding-right: 30rem;
        color: #fff;
        width: 50rem;
        font-size: 50rem;
        display: none;
        z-index: 99;
    }
    
    .dropdown-menu{
        position: absolute;
        display:none;
        top: 80rem;
        width: 100%;
        height: 0;
        background: black;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .dropdown-menu.open{
        height: 400rem;
    }
    
    .dropdown-menu a{
        padding: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-menu .btn-register{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10rem;
    }
}

@media (max-width: 853px) { 


    .navbar .toggle-button{
        font-size: 30rem;
    }
    /* Navbar */
    .btn-container,
    .btn-register{
        display: none;
    }

    .dropdown-menu .btn-register a{
        margin: 0;
    }


    
    .navbar .toggle-button{
        align-items: end;
        justify-content: end;
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .dropdown-menu .btn-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}