@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

html{
    font-size: 1px;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./Asset/BG\ CAMPUS.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.navbar{
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: black;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    height: 100rem;  
    opacity: 90%;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.img-logo{
    position:initial;
    height: 100rem;
    width: 300rem;
}

.btn-container a {
    text-decoration: none;
    color: white;
    justify-content: center;
    display: inline-block;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    overflow: hidden;
    font-weight: 900;
    font-size: 30rem;
    -webkit-text-stroke: 1.4px #ad0403;
    padding-left: 30rem;
    padding-right: 30rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.btn-container .active{
    color:#ffd690;
    transform: scale(1.1); /* Increase the scale on hover */
    
}

.btn-register a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    overflow: hidden;
    font-weight: bold;
    font-size: 30rem;
    justify-content: right;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 100rem;
    margin-left: 30rem;
    padding: 10px 20px;
}

.btn-container a::before,
.btn-container a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: #78b9ff;
    transition: transform 0.3s;
    transform-origin: center;
}

.btn-container a::before {
    left: 25%;
    transform: scaleX(0);
}

.btn-container a::after {
    right: 25%;
    transform: scaleX(0);
}

.btn-container a:hover {
    color:#ffd690;
    transform: scale(1.1); /* Increase the scale on hover */
}



.btn-container a:hover::before,
.btn-container a:hover::after {
    transform: scaleX(1);
}

.btn-container a:after {
    content: "";
    position: absolute;
    background-color: #78b9ff;
    height: 3px;
    width: 0;
    bottom: -3px;
    left: 0;
    transition: width 0.3s;
}

.btn-container a:hover:after {
    width: 100%;
}

.btn-container .active::before,
.btn-container .active::after{
    width: 50% ;
    transform: scaleX(1);
}

/* End of Navbar Style */
.container-title{
    position: absolute;
    top: 23%;
    left: 8%; 
    display: flex;
    flex-direction: column;
    width: 600rem;
    align-items: center;
    margin-bottom: 40rem;
    gap: 32rem;
    border-radius: 250rem;
    padding: 50rem 0rem;
    box-shadow: #d08400;
}

#zen-title{
    font-size: 120rem;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to top,#8c98b7 30% , #ffffff);
    -webkit-bazckground-clip: text;
    color: transparent; 
    filter: drop-shadow(2px 2px 6px rgb(162, 0, 0));
    -webkit-text-stroke: 2.5px rgba(117,24,23,255);
    align-items: center;
    justify-content: center;
    margin: 0;
}

#wise-word{
    font-size: 22rem;
    font-family: sans-serif;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 2px 2px 13px rgba(162, 0, 0,1);
    text-align: center;
    width: 40ch;
    padding: 0;
    margin: 0;
}

.facility-display-container {
    display: flex;
    justify-content: space-around;
    height: 130rem;
    width: 100%;
    padding-top: 200rem;
    padding-bottom: 30rem;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), transparent);
    align-items: center;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.facility-display {
    display: flex;
    justify-content: center;
    font-size: 30rem;
    width: 15%;
    height: 95%;
    color: white;
    -webkit-text-stroke: 1.5px rgb(0, 31, 206);
    border-radius: 8px;
    box-shadow: 0px 3.5px 10px rgb(0, 140, 255);
    border: 2px solid rgb(27, 164, 164);
}

.facility-display:hover{
    transform: scale(1.1);
    box-shadow: 0px 3.5px 16px rgb(0, 140, 255);
    border: 3.5px solid rgb(34, 197, 197);
    transition: 0.3s;
}

.facility-display:not(:hover){
    transform: scale(1);
    box-shadow: 0px 3.5px 10px rgb(0, 140, 255);
    border: 2px solid rgb(27, 164, 164);
    transition: 0.3s;
}

.bg-gradient:hover{
    opacity: 0;
}

.bg-gradient{
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.65);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.4s;
}

#facility-dragons{
    background-image: url('./Asset/Facility/Dragons.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2 px red;
}

#facility-eggs{
    background-image: url('./Asset/Facility/Eggs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facility-bf{
    background-image: url('./Asset/Facility/Battlefield.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facility-laboratorium{
    background-image: url('./Asset/Facility/Laboratorium.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.regist_btn {
    border: 2rem solid white;
    border-radius: 25px;
    background-color: black;
    padding: 15rem 35rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.regist_btn:hover {
    border-color: #d08400;
    color: #d08400;
    cursor: pointer;
    box-shadow: 0px 0px 16px #ffbb00;
    transform: scale(1.05);
    transition: 0.2s;
}

.regist_btn:not(:hover) {
    transform: scale(1);
    transition: 0.2s;
}